$prova: #CCC000;

html {
  margin: 32px;

}

p {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
}

div {
  font-size: 2rem;
}

uxl-tile-view {
  --uxl-tile-view-background-color: grey;
  --uxl-tile-view-max-background-color: blue;
  --uxl-tile-view-padding: 50px;
  --uxl-tile-view-max-padding: 100px;
}

uxl-tile-view-item {
  --uxl-tile-view-item-background-color: #eeeeee;
  --uxl-tile-view-item-border-radius: 4px;
  --uxl-tile-view-item-box-shadow: none;
  --uxl-tile-view-item-border: 1px solid #999;
  --uxl-tile-view-item-max-background-color: #f5f5f5;
  --uxl-tile-view-item-title-color: #CCC000;
  --uxl-tile-view-item-icon-color: red;
  --uxl-tile-view-item-header-background-color: #e5e5e5;
  min-height: 100px;
  min-width: 100px;
  margin-bottom: 16px;
}
