:host(.maximized){
  max-height: initial;
  margin: 0!important;
  flex: 1;
}

:host #btn-min{
  display: none;
  width: 35px;
  height: 35px;
  padding: 8px;
}

:host #btn-max{
  display: flex;
  width: 35px;
  height: 35px;
  padding: 8px;
}

:host(.maximized) #btn-max{
  display: none;
}

:host(.maximized) #btn-min{
  display: flex;
}

:host(.minimized) #btn-min{
  display: none;
}

:host(.minimized) #btn-max{
  display: flex;
}

:host(.maximized) #tile-container {
  background-color: var(--uxl-tile-view-item-max-background-color, white);
  border: none;
}

#tile-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--uxl-tile-view-item-background-color, white);
  border-radius: var(--uxl-tile-view-item-border-radius, 0);
  box-shadow: var(--uxl-tile-view-item-box-shadow, none);
  border: var(--uxl-tile-view-item-box-border, #{1px solid black});
}

#tile-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 6px 8px 16px;
  align-items: center;
}

p.title{
  color: #37464D;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

#tile-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

paper-icon-button{
  --iron-icon-fill-color: #0288d1;
}

paper-icon-button:hover{
  background-color: rgba(0,0,0,.07);
  border-radius: 50%;
}

#tile-content{
  display: flex;
  overflow-y: hidden;
  min-height: 1px;
  height: 100%;
  box-sizing: border-box;
}


#tile-content::-webkit-scrollbar-track {
  background-color: #fff;
}

#tile-content::-webkit-scrollbar{
  width: 4px;
  background-color: #fff;
}

#tile-content::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.07);
}
