:host(.maximized){
  max-height: initial !important;
  margin: 0 !important;
  flex: 1;
}

:host #btn-min{
  display: none;
  width: var(--uxl-tile-view-item-icon-size, 35px);
  height: var(--uxl-tile-view-item-icon-size, 35px);
  padding: 8px;
}

:host #btn-max{
  display: flex;
  width: var(--uxl-tile-view-item-icon-size, 35px);
  height: var(--uxl-tile-view-item-icon-size, 35px);
  padding: 8px;
}

:host(.maximized) #btn-max{
  display: none;
}

:host(.maximized) #btn-min{
  display: flex;
}

:host(.minimized) #btn-min{
  display: none;
}

:host(.minimized) #btn-max{
  display: flex;
}

:host(.maximized) #tile-container {
  background-color: var(--uxl-tile-view-item-max-background-color, white);
  border: none;
}

:host(:not(.maximized)) #tile-container {
  background-color: var(--uxl-tile-view-item-background-color, white);
  box-shadow: var(--uxl-tile-view-item-box-shadow, none);
}

#tile-container{
  display: flex;
  flex-direction: column;
  flex: 1;
}

#tile-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 6px 8px 16px;
  align-items: center;
  background-color: var(--uxl-tile-view-item-header-background-color, white);
  border-top-left-radius: var(--uxl-tile-view-item-border-radius, 0);
  border-top-right-radius: var(--uxl-tile-view-item-border-radius, 0);
  border-top: var(--uxl-tile-view-item-border, #{1px solid black});
  border-right: var(--uxl-tile-view-item-border, #{1px solid black});
  border-bottom: 0;
  border-left: var(--uxl-tile-view-item-border, #{1px solid black});
}

p.title{
  color: #37464D;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

#tile-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

paper-icon-button{
  --iron-icon-fill-color: var(--uxl-tile-view-item-icon-color, #000000);
}

paper-icon-button:hover{
  background-color: rgba(0,0,0,.07);
  border-radius: 50%;
}

#tile-content{
  display: flex;
  overflow-y: hidden;
  min-height: 1px;
  height: 100%;
  box-sizing: border-box;
  padding: var(--uxl-tile-view-item-padding, 16px);
  border-bottom-left-radius: var(--uxl-tile-view-item-border-radius, 0);
  border-bottom-right-radius: var(--uxl-tile-view-item-border-radius, 0);
  border-right: var(--uxl-tile-view-item-border, #{1px solid black});
  border-bottom: var(--uxl-tile-view-item-border, #{1px solid black});
  border-left: var(--uxl-tile-view-item-border, #{1px solid black});
}


#tile-content::-webkit-scrollbar-track {
  background-color: #fff;
}

#tile-content::-webkit-scrollbar{
  width: 4px;
  background-color: #fff;
}

#tile-content::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.07);
}
