@import "@uxland/uxl-style-utilities/src/flex-layout-styles.scss";
@import "@uxland/uxl-style-utilities/src/uxl-units-styles.scss";

:host, :host(.none-maximized) {
  display: var(--uxl-tile-view-display, #{flex});
  background-color: var(--uxl-tile-view-background-color, white);
  padding: var(--uxl-tile-view-padding, 0);
}

:host(.some-maximized) {
  display: var(--uxl-tile-view-max-display, #{flex});
  padding: var(--uxl-tile-view-max-padding, 0);
  background-color: var(--uxl-tile-view-max-background-color, white);
}

:host > ::slotted(:not(slot)) {
  @include layout-flex;
  @include layout-vertical;
}

:host > ::slotted(:not(slot).minimized) {
  display: none !important;
}

:host > ::slotted(:not(slot).maximized) {
  @include layout-flex;
  @include layout-vertical;
}
